body {
    margin: auto;
    margin-top: 1em;
    width: 480px;
}

#date-pivot,
#date-op,
#date-incr,
#date-incr-unit,
#date-result {
    font-size: 2em;

}

#row-1,
#row-2,
#row-3 {
    margin-top: 2%;
}

#row-3 {
    padding-top: 2%;
    border-top: 3px dotted black;
}

#overlay-container {
    display: none;
}
