body {
    margin: auto;
    margin-top: 1em;
    width:85%
}

#date-pivot,
#date-op {
    width: 100%;
}

#date-pivot,
#date-op,
#date-incr,
#date-incr-unit,
#date-result {
    font-family: monospace;
    font-size: 6em;
    text-align: center;
}

#date-pivot,
#date-result {
    margin: auto;
}

#row-1,
#row-2,
#row-3,
#row-4 {
    margin-top: 7%;
}

#row-4 {
    padding-top: 7%;
    border-top: 4px solid black;
}

.spacer {
    margin: -2%;
}

#insert-cal-here {
    background: white;
    font-size: 2em;
}

#cal-close {
    margin-top: 1em;
    color: red;
    font-size: 2em;
    text-align: center;
    background: white;
}
